# secret files

defaults.json
tikudefaults.json
echocredentials.json
secrets.py

# other irrelevant stuff

*.pyo
*.html
*.spec
*.json

dialogtest.py

canvasapi alias

.DS_Store
src/__pycache__/*
archive/*
build/*
